@model IEnumerable<silliconValley.Integration.jsonplaceholder.dto.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.Name</td>
                <td>@user.Job</td>
            </tr>
        }
    </tbody>
</table>